* {
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-user-select: -moz-none;
	-webkit-touch-callout: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	display: none;
}

@-moz-document url-prefix(http:),
url-prefix(https:) {

	scrollbar {
		-moz-appearance: none !important;
	}

	scrollbarbutton {
		-moz-appearance: none !important;
	}

	thumb {
		-moz-appearance: none !important;
	}

	scrollcorner {
		-moz-appearance: none !important;
		resize: both;
	}

	scrollbar[orient="vertical"] {
		color: silver;
	}
}


html {
	overflow: hidden;
}

@font-face {
	font-family: 'Comfortaa';
	font-style: regular;
	font-weight: 400;
	src: url(Comfortaa-Regular.ttf) format('truetype');
}

body {
	overflow: hidden;
	color: white;
	font-family: Comfortaa, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

body>page {
	transition: all 1s ease-out;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}

body>page.color1 {
	background: linear-gradient(rgb(22, 160, 133) 0%, rgb(244, 208, 63) 100%);
}

page.color1 box.image cover {
	background: rgb(239, 134, 9);
}

page.color1 box.title cover,
page.color1 box.text cover {
	background: rgb(5, 138, 155);
}

body>page.color2 {
	background: linear-gradient(140deg, rgb(35, 21, 87) 0%, rgb(68, 16, 122) 28%, rgb(255, 19, 97) 67%, rgb(255, 248, 0) 100%);
}

page.color2 box.image cover {
	background: rgb(35, 21, 87);
}

page.color2 box.title cover,
page.color2 box.text cover {
	background: rgb(255, 19, 97);
}

body>page.color3 {
	background: linear-gradient(90deg, rgb(134, 143, 150) 0%, rgb(89, 97, 100) 100%);
}

page.color3 box.image cover {
	background: rgb(47, 59, 74);
}

page.color3 box.title cover,
page.color3 box.text cover {
	background: rgb(255, 255, 88);
}

body>page.color4 {
	background: linear-gradient(120deg, rgb(203, 186, 204) 0%, rgb(36, 57, 73) 100%);
}

page.color4 box.image cover {
	background: rgb(36, 57, 73);
}

page.color4 box.title cover,
page.color4 box.text cover {
	background: rgb(203, 186, 204);
}

body>page.right timer {
	background-color: rgba(255, 255, 255, 0.2);
}

body>page timer {
	position: absolute;
	left: 0;
	top: 0;
	right: 100%;
	height: 0.5em;
	background-color: rgba(0, 0, 0, 0.1);
}

body>logo {
	background: url(images/logo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 1.5em;
	top: 1.5em;
	width: 10em;
	height: 4.5em;
	cursor: pointer;
}

page.bottom box.image {
	bottom: 50vh;
	right: 15vw;
	top: 50vh;
	left: 15vw;
}

page.bottom box.title,
page.bottom box.text {
	text-align: center;
	top: 7.5vh;
}

page.bottom box.text {
	max-width: 70vw;
}

page.right box.image {
	bottom: 10vh;
	right: 50vw;
	top: 10vh;
	left: 50vw;
}

page.right box.title,
page.right box.text {
	left: 5vw;
	text-align: left;
	top: 27.5vh;
}

page.right box.text {
	max-width: 45vw;
}

page.top box.image {
	bottom: 50vh;
	right: 15vw;
	top: 50vh;
	left: 15vw;
}

page.top box.title,
page.top box.text {
	text-align: center;
	top: 42vh;
}

page.top box.text {
	max-width: 70vw;
}

page.left box.image {
	bottom: 10vh;
	right: 50vw;
	top: 10vh;
	left: 50vw;
}

page.left box.title,
page.left box.text {
	right: 5vw;
	text-align: right;
	top: 27.5vh;
}

page.left box.text {
	max-width: 45vw;
}

page:nth-child(4) ul {
	display: inline-block;
	margin-bottom: 1em;
}

box {
	overflow: hidden;
	position: absolute;
	display: block;
}

box.image {
	display: flex;
	align-items: center;
}

box.title {
	visibility: hidden;
	white-space: nowrap;
	font-size: 1.3em;
	padding: 0.5em;
}

box.text {
	visibility: hidden;
	line-height: 1.8;
	font-size: 1em;
	padding: 0.8em;
}

box>img {
	width: 100%;
}

box>cover {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

navigation {
	position: absolute;
	top: 0;
	width: 50vw;
	height: 100%;
	cursor: pointer;
}

navigation.previous {
	left: 0;
}

navigation.next {
	right: 0;
}

index {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 0;
	color: rgba(255, 255, 255, 0.5);
	display: block;
}

index point {
	cursor: pointer;
	padding: 1em;
	display: inline-block;
	position: relative;
}

index point:before {
	content: '·';
	color: rgba(255, 255, 255, 0.3);
	font-size: 4em;
	position: absolute;
	left: 0;
	top: -0.2em;
	text-align: center;
	line-height: 1;
	width: 100%;
	height: 100%;
	transition: all .4s ease-out;
}

index point.selected:before,
index point:hover:before {
	color: rgba(255, 255, 255, 0.8);
}

info,
legal,
stats,
language {
	position: relative;
	color: rgba(255, 255, 255, 0.5);
	transition: all .4s ease-out;
	cursor: pointer;
	padding: 1em;
	display: inline-block;
}

info {
	background: rgba(0, 0, 0, 0.15);
	padding: 0.5em;
	border-radius: 0.5em;
	color: white;
}

links {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}

info:hover,
language:hover,
legal:hover {
	color: white;
}

info>popup,
legal>popup {
	transform: scale(0);
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	display: inline-block;
	padding: 2em;
	border-radius: 0.5em;
	transition: all .4s ease-out;
	color: black;
	line-height: 1.3;
	min-width: 22em;
	max-width: 90vw;
	right: 1em;
	top: 3em;
}

info>popup {
	transform-origin: top;
	text-align: center;
	min-width: 60vw;
	margin-right: -17em;
}

info>popup img {
	margin: 0 0.5em;
	height: 3em;
}

legal>popup {
	transform-origin: top right;
	white-space: nowrap;
}

debug {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.3;
}

.highlight {
	color: rgb(252, 251, 104);
}

ul li,
ol li {
	text-align: left;
	margin: 0.5em 0 0.5em 1.25em;
}

ul li {
	list-style-type: disc;
}

@media only screen and (max-width: 600px) {

	page.bottom box.image {
		right: 0;
		left: 0;
		align-items: end;
	}

	page.bottom box.title,
	page.bottom box.text {
		transform: translate(0, 5vh);
	}

	page.top box.image {
		right: 0;
		left: 0;
		align-items: start;
	}

	page.top box.image img {
		transform: translate(0, 7em);
	}

	page.top box.title,
	page.top box.text {
		transform: translate(0, -5vh);
	}

	page.bottom box.title,
	page.bottom box.text,
	page.top box.title,
	page.top box.text {
		left: 0;
		max-width: 100vw;
	}

	page.right box.title,
	page.right box.text {
		left: 0;
		top: 27.5vh;
	}

	page.right box.text {
		max-width: 50vw;
	}

	page.left box.title,
	page.left box.text {
		right: 0;
		top: 27.5vh;
	}

	page.left box.text {
		max-width: 50vw;
	}
}